<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index Tables</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.min.css">
</head>

<body>
    <h1 class="text-center text-dark"> Presented Tables</h1>

    <div class="container mt-5 table-hover">
        <div class="row row-cols-2 g-1 g-lg-2 text-center">
            <div class="col">
                <div class="p-2 border"><a class="btn" href="{% url 'complaint' %}">Complaint Table</a></div>
            </div>
            <div class="col">
                <div class="p-2 border"><a class="btn" href="{% url 'complaint' %}">Complaint Table</a></div>
            </div>
            <div class="col">
                <div class="p-2 border"><a class="btn" href="{% url 'complaint' %}">Complaint Message</a></div>
            </div>
            <div class="col">
                <div class="p-2 border"><a class="btn" href="{% url 'complaint' %}">Department Table</a></div>
            </div>
            <div class="col">
                <div class="p-2 border"><a class="btn" href="{% url 'complaint' %}">Designation Table</a></div>
            </div>
            <div class="col">
                <div class="p-2 border"><a class="btn" href="{% url 'complaint' %}">Priority Table</a></div>
            </div>
            <div class="col">
                <div class="p-2 border"><a class="btn" href="{% url 'create_profile' %}">Profile Table</a></div>
            </div>
            <div class="col">
                <div class="p-2 border"><a class="btn" href="{% url 'complaint' %}">Profile Type Table</a></div>
            </div>
        </div>
    </div>

</body>

</html>
